Django==5.0.6
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-celery-results==2.6.0
django-celery-beat==2.6.0
django-filter==24.1
daphne==4.0.0
channels==4.0.0
channels-redis==4.1.0
python-dotenv==1.0.0
cloudinary==1.40.0
psycopg[binary]==3.2.13
dj-database-url==2.1.0
pgvector==0.2.0
celery==5.3.4
redis==5.0.1
django-redis==5.4.0
google-generativeai
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-genai==0.8.0
asgiref==3.8.1
requests==2.34.2
certifi==2026.5.20
charset-normalizer==3.4.7
cryptography==48.0.0
idna==3.17
typing_extensions==4.15.0
urllib3==2.7.0
pycparser==3.0
cffi==2.0.0
whitenoise==6.7.0